<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Budgify</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header class="header">
        <div class="header-div">
            <h1>Budgify</h1>
            <p>Expense tracking for <span>everyone</span</p>
        </div>
        <div class="header-btn">
            <button id="sub">Subscribe</button>
            <button onclick="location.href = '#';" id="logout">Log Out</button>
        </div>
    </header>

    <h1 id="welcome">Welcome to your dashboard</h1>
    <div class="flex-container">
        <div class="dashboard-cards">
            <h1 class="dashboard-h1">354$</h1>
            <p class="dashboard-p">Current Balance</p>

            <button class="dashboard-button" id="depositOpenBtn">Add Deposit</button>
            <!--Popup-->
            <div class="popup" id="depositPopup">
                <div class="popup-inner">
                    <h2>Add Deposit</h2>
                    <form action="/deposit" method="POST">
                        <input type="number" id="amount" name="amount" placeholder="Amount"><br>
                    <button id="depositCloseBtn">Add</button>
                    </form>
                </div>
            </div>

        </div>

        <div class="dashboard-cards">
            <h1 class="dashboard-h1">1,290$</h1>
            <p class="dashboard-p">Expenses this month</p>
            <button class="dashboard-button">Add Expense</button>
        </div>

        <div class="dashboard-cards">
            <h1 class="dashboard-h1">Boiler plate</h1>
            <p class="dashboard-p">I dont know what goes here tbh</p>
            <button class="dashboard-button">Some Action</button>
        </div>
    </div>
    <script src="/index.js"></script>
</body>
</html>